@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@400;700&display=swap");
.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chef-card__header, .rating, .dish-card__container, .cards, .menu__list, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* fonts start */
@font-face {
  font-family: "Helvetica roman 55";
  src: url("../fonts/Helvetica/BMWHelvetica-Roman.woff2") format("woff2"), url("../fonts/Helvetica/BMWHelvetica-Roman.woff") format("woff"), url("../fonts/Helvetica/BMWHelvetica-Roman.ttf") format("truetype"), url("../fonts/Helvetica/BMWHelvetica-Roman.svg#BMWHelvetica-Roman") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica black";
  src: url("../fonts/Helvetica/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueBlackCondensed.ttf") format("truetype"), url("../fonts/Helvetica/HelveticaNeueBlackCondensed.svg#HelveticaNeueBlackCondensed") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica bold";
  src: url("../fonts/Helvetica/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueBoldCondensed.ttf") format("truetype"), url("../fonts/Helvetica/HelveticaNeueBoldCondensed.svg#HelveticaNeueBoldCondensed") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* fonts start */
/* null start */
*, *::before, *::after {
  font-family: "Helvetica roman 55", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #191919;
  font-size: 16px;
  color: #fff;
}
body.lock {
  overflow-y: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.none {
  display: none;
}

section {
  padding-top: 91px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #D9D9D9;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  border: 0;
}

.animate_one {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.animate_two {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.animate_three {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.animate_four {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.animate_five {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.animate_six {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animate__hidden {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp-end;
          animation-name: animate__fadeInUp-end;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* null end */
/* show animations start */
@media (prefers-reduced-motion) {
  .animation {
    -webkit-transition: none;
    transition: none;
  }
}
@-webkit-keyframes animate__fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes animate__fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes animate__fadeInUp-end {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes animate__fadeInUp-end {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@-webkit-keyframes animate__fadeInUp-opacity-7 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 0.7;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes animate__fadeInUp-opacity-7 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 0.7;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/* show animations end */
.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chef-card__header, .rating, .dish-card__container, .cards, .menu__list, .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Content start */
.header {
  padding: 33px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
}

.brand {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.brand .brand__text {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 9px;
  color: #34C759;
  font-family: "Helvetica bold", sans-serif;
  font-weight: 700;
}

.menu__list .menu__item + .menu__item {
  margin-left: 45px;
}
.menu__list .menu__link {
  font-size: 14px;
  font-family: "Helvetica bold", sans-serif;
  font-weight: bold;
}
.menu__list .menu__link_active {
  color: #34C759;
}
.menu__list .menu__link:hover {
  color: #34C759;
}

.burger-btn, .burger-menu {
  display: none;
}

.hero {
  padding-top: 0;
  background: url("../img/background/background-hero.jpg") no-repeat center top;
  background-size: cover;
  height: auto;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle {
  margin: 0 auto 40px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 26px;
  max-width: 595px;
  opacity: 0.7;
  font-size: 16px;
}

.intro {
  margin: 160px auto 0;
  text-align: center;
}
.intro__texts {
  margin: 0 auto;
  max-width: 1100px;
}
.intro__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  line-height: 84px;
}
.intro__title span {
  display: inline-block;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__title-bold {
  font-family: "Helvetica bold", sans-serif;
  font-weight: bold;
}
.intro__word-one {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.intro__word-two {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.intro__word-three {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.intro__word-four {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.intro__subtitle {
  max-width: 595px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp-opacity-7;
          animation-name: animate__fadeInUp-opacity-7;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__btn-for-order {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 220px;
  height: 72px;
  border-radius: 43px;
  background-color: #34C759;
  color: #181818;
  font-family: "Helvetica roman 55", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.intro__btn-for-order:hover {
  background-color: #307942;
}
.intro__cards {
  max-width: 915px;
  margin: 70px auto;
}
.intro__cards.animate__show div:first-child {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__cards.animate__show div:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.intro__cards.animate__show div:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.benefits-card {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.benefits-card__logo {
  margin-bottom: 13px;
}
.benefits-card__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Helvetica roman 55", sans-serif;
}
.benefits-card__subtitle {
  font-size: 14px;
  opacity: 0.5;
}

.about {
  margin-top: 161px;
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
}
.about__container {
  margin: 0 auto;
  padding: 105px 65px 90px;
}
.about__title {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  margin-bottom: 61px;
  font-family: "Helvetica roman 55", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.2em;
  line-height: 60px;
  position: relative;
  z-index: 1;
}
.about__title span {
  position: relative;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.about__title::after {
  content: attr(background-text);
  display: block;
  font-family: "Helvetica black", sans-serif;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.2em;
  color: #303030;
  position: absolute;
  left: 50%;
  top: -40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}
.about__title.animate__show {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.about__title.animate__show span {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.about__subtitle {
  max-width: 734px;
}

.slider-wrapper {
  position: relative;
}

.slider {
  max-width: 734px;
}
.slider__btn {
  background: transparent;
  cursor: pointer;
  border: 2px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 35px);
  z-index: 1;
}
.slider__button-prev {
  right: auto;
  left: 0;
}
.slider__button-next {
  right: 0;
  left: auto;
}
.slider__pagination {
  display: none;
  bottom: -40px !important;
}

.title {
  text-align: center;
  padding-bottom: 27px;
  margin-bottom: 60px;
  font-family: "Helvetica roman 55", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 36px;
  line-height: 90px;
  text-transform: capitalize;
  position: relative;
  color: #D9D9D9;
  opacity: 0;
}
.title span {
  position: relative;
  z-index: 1;
}
.title::before {
  content: attr(background-text);
  z-index: 0;
  position: absolute;
  top: -25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Helvetica black", sans-serif;
  color: #303030;
  font-size: 100px;
  line-height: 150px;
  letter-spacing: 0.2em;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #34C759;
}
.title.animate__show {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.title.animate__show span {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.work__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.work-steps-card {
  padding: 24px 24px 60px;
  background-color: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-width: 255px;
  max-height: 206px;
  opacity: 0;
}
.work-steps-card__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 24px;
  position: relative;
}
.work-steps-card__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 56px;
  background-color: #34C759;
}
.work-steps-card__subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}
.work-steps-card_selected {
  background-color: #34C759;
}
.work-steps-card_selected .work-steps-card__title, .work-steps-card_selected .work-steps-card__subtitle {
  color: #191919;
}
.work-steps-card_selected .work-steps-card__title::before, .work-steps-card_selected .work-steps-card__subtitle::before {
  background-color: #191919;
}
.work-steps-card.animate__show {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dishe__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.dish-card {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #252525;
  max-width: 350px;
  position: relative;
  opacity: 0;
}
.dish-card__share {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;
  right: 0;
  top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dish-card__share img {
  position: relative;
  z-index: 1;
}
.dish-card__share-bg {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #000;
}
.dish-card__preview {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.dish-card__content {
  padding: 30px 30px 24px;
}
.dish-card__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
  color: #D9D9D9;
}
.dish-card__title-text {
  margin-top: 9px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}
.dish-card__subtitle {
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: -0.1625px;
}
.dish-card__btn-for-order {
  font-size: 10px;
  width: 100px;
  height: 40px;
  border-radius: 43px;
  background-color: #34C759;
  color: #181818;
  font-family: "Helvetica roman 55", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.dish-card__btn-for-order_disabled {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid #303030;
}
.dish-card__btn-for-order_disabled:hover {
  color: #252525;
  background: #34C759;
  border: 0;
}
.dish-card__btn-for-order:hover {
  background-color: #307942;
}
.dish-card.animate__show {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rating {
  max-width: 151px;
}
.rating__star {
  cursor: pointer;
}
.rating__star + .rating__star {
  margin-left: 5px;
}
.rating__star ion-icon {
  width: 17px;
  height: 17px;
  color: #F9AD3D;
}
.rating__count {
  margin-left: 9px;
}
.rating__count span {
  font-family: "Helvetica black", sans-serif;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #B3B3B3;
}
.rating_disabled ion-icon {
  color: #4D4D4D;
}

.people-chefs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.chef-card {
  opacity: 0;
}
.chef-card__header {
  max-width: 205px;
  margin-bottom: 24px;
}
.chef-card__avatar {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-right: 24px;
}
.chef-card__fullname {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: #FFFFFF;
}
.chef-card__subtitle {
  font-size: 12px;
  margin: 0;
}
.chef-card__portfolio {
  max-width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.chef-card__portfolio img {
  border-radius: 4px;
}
.chef-card.animate__show {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: animate__fadeInUp;
          animation-name: animate__fadeInUp;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Content end */
.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container, .menu__list, .cards, .dish-card__container, .rating, .chef-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Adaptive start */
@media screen and (max-width: 1051px) {
  .slider {
    height: 365px;
  }
  .slider__btn {
    width: 45px;
    height: 45px;
    top: calc(40% - 35px);
  }
  .slider__pagination {
    display: block;
  }
  .work-steps-card__subtitle {
    max-width: 207px;
  }
}
@media screen and (max-width: 1143px) {
  .work__cards {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
  }
}
@media screen and (max-width: 1136px) {
  .people-chefs {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    justify-items: center;
  }
  .chef-card:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 990px) {
  .intro__title {
    font-size: 62px;
    line-height: 74px;
  }
}
@media screen and (max-width: 968px) {
  .dishe__cards {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 904px) {
  .about__container {
    margin: 0 auto;
    max-width: 834px;
  }
  .slider__btn {
    top: calc(53% - 35px);
  }
}
@media screen and (max-width: 907px) {
  .slider__slide img {
    display: block;
    width: 100%;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 828px) {
  .people-chefs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .chef-card:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}
@media screen and (max-width: 822px) {
  .intro__title {
    font-size: 52px;
    line-height: 64px;
  }
}
@media screen and (max-width: 745px) {
  .about__title {
    font-size: 25px;
  }
  .about__title::after {
    font-size: 90px;
  }
  .slider__slide {
    border-radius: 10px;
  }
  .slider__slide img {
    border-radius: 10px;
  }
}
@media screen and (max-wdith: 700px) {
  .intro__title {
    font-size: 52px;
    line-height: 64px;
  }
}
@media screen and (max-width: 693px) {
  .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .brand {
    position: relative;
    z-index: 6;
  }
  .menu {
    display: none;
  }
  .burger-btn, .burger-menu {
    display: block;
  }
  .burger-btn {
    padding: 0;
    width: 45px;
    height: 35px;
    position: relative;
    z-index: 6;
    background: transparent;
  }
  .burger-btn__line {
    -webkit-transition: 0.5s all !important;
    transition: 0.5s all !important;
    display: block;
    position: absolute;
    top: 16.5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #34C759;
  }
  .burger-btn::before, .burger-btn:after {
    content: "";
    height: 1px;
    -webkit-transition: 0.5s all !important;
    transition: 0.5s all !important;
    position: absolute;
    background-color: #34C759;
    width: 100%;
  }
  .burger-btn:before {
    top: 1px;
    left: 0;
  }
  .burger-btn:after {
    bottom: 0;
    left: 0;
  }
  .burger-btn_active .burger-btn__line {
    bottom: 0;
    -webkit-transform: rotate(41deg);
            transform: rotate(41deg);
  }
  .burger-btn_active:after {
    top: 18px;
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
  }
  .burger-btn_active:before {
    opacity: 0;
  }
  .burger-menu {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    color: #34C759;
    background-color: #181818;
    border-bottom: 2px solid #34C759;
  }
  .burger-menu_active {
    top: 0 !important;
  }
  .burger-menu__list {
    max-width: 45%;
    margin: 45% auto;
    text-align: center;
  }
  .burger-menu__list li {
    border: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .burger-menu__list li + li {
    margin-top: 30px;
  }
  .burger-menu__item_active {
    border: 1px solid #34C759 !important;
  }
  .burger-menu__link {
    font-size: 30px;
  }
  .burger-menu__link_active {
    color: #34C759;
  }
  .intro__subtitle {
    max-width: 497px;
  }
}
@media screen and (max-width: 684px) {
  .dishe__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 677px) {
  .intro__btn-for-order {
    width: 209px;
    height: 67px;
  }
}
@media screen and (max-width: 652px) {
  .header {
    padding: 23px 0;
  }
  .hero {
    min-height: 900px;
    padding-bottom: 100px;
  }
  .intro {
    margin: 180px auto 0;
  }
  .intro__texts {
    max-width: none;
  }
  .intro__title {
    font-size: 47px;
    line-height: 59px;
  }
  .intro__cards {
    margin: 50px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits-card + .benefits-card {
    margin-top: 30px;
  }
  .benefits-card__logo {
    width: 35px;
    height: 35px;
  }
  .benefits-card__title {
    font-size: 17px;
  }
  .benefits-card__subtitle {
    font-size: 16px;
  }
  /* About section start */
  .about__title {
    line-height: 32px;
  }
  .about__title::after {
    top: -55px;
  }
  /* About section end */
  .title {
    font-size: 30px;
  }
  .title::before {
    font-size: 94px;
  }
}
@media screen and (max-width: 634px) {
  /* About section start */
  .about__container {
    padding: 85px 20px 75px;
  }
  /* About section end */
}
@media screen and (max-width: 628px) {
  /* About section start */
  .about__title {
    margin-bottom: 30px;
  }
  /* About section end */
}
@media screen and (max-width: 594px) {
  .intro__title {
    font-size: 45px;
    line-height: 57px;
  }
}
@media screen and (max-width: 581px) {
  .work__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 568px) {
  .intro {
    margin: 135px auto 0;
  }
  .intro__texts {
    text-align: left;
  }
  .intro__subtitle {
    margin-left: 0;
  }
  .intro__btn-for-order {
    width: 200px;
    height: 65px;
  }
}
@media screen and (max-width: 555px) {
  .intro__btn-for-order {
    width: 200px;
    height: 69px;
  }
}
@media screen and (max-width: 500px) {
  /* About section start */
  .about__subtitle {
    font-size: 15px;
  }
  /* About section end */
}
@media screen and (max-width: 482px) {
  .brand__logo-img .brand__text {
    font-size: 15px;
  }
  .burger-menu__link {
    font-size: 27px;
  }
}
@media screen and (max-width: 458px) {
  .title {
    font-size: 26px;
  }
  .title::before {
    font-size: 80px;
  }
}
@media screen and (max-width: 447px) {
  .intro__title {
    font-size: 40px;
    line-height: 52px;
  }
  .intro__subtitle {
    margin-bottom: 36px;
    font-size: 14px;
  }
  .intro__btn-for-order {
    width: 150px;
    height: 58px;
  }
  .benefits-card__title {
    font-size: 16px;
  }
  .benefits-card__subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 410px) {
  /* About section start */
  .about__title {
    font-size: 22px;
  }
  .about__title::after {
    font-size: 80px;
  }
  /* About section end */
}
@media screen and (max-width: 400px) {
  .brand {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 151px;
  }
  .burger-menu__list {
    margin: 40% auto;
    min-width: 50%;
  }
  .burger-menu__link {
    font-size: 25px;
  }
}
@media screen and (max-width: 384px) {
  .chefs__title {
    font-size: 21px;
  }
  .chefs__title::before {
    font-size: 76px;
  }
  .chef-card__portfolio {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .chef-card__portfolio img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media screen and (max-width: 358px) {
  /* About section start */
  .about__title::after {
    font-size: 70px;
  }
  .about__container {
    padding: 90px 22px 75px;
  }
  /* About section end */
}
@media screen and (max-width: 374px) {
  .intro__title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (max-width: 356px) {
  .dish-card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dish-card__btn-for-order {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 344px) {
  .burger-menu__list {
    margin: 50% auto;
  }
  .intro__btn-for-order {
    width: 143px;
    height: 55px;
  }
}
@media screen and (max-width: 330px) {
  .dishe__title {
    font-size: 23px;
  }
  .dishe__title::before {
    font-size: 74px;
  }
}
/* height adaptive start */
@media screen and (max-height: 601px) {
  .burger-menu {
    top: -200%;
  }
  .burger-menu__list {
    margin: 25% auto;
  }
}
@media screen and (max-height: 469px) {
  .burger-menu__list {
    margin: 15% auto;
    max-width: 35%;
  }
}
/* height adaptive end */
/* Adaptive end */