@import 'vars.scss';

/* Adaptive start */
// with max width to min width

@media screen and (max-width: 1051px) {
    .slider {
        height: 365px;

        &__btn {
            width: 45px;
            height: 45px;
            top: calc(40% - 35px);
        }

        &__pagination {
            display: block;
        }
    }

    .work-steps-card__subtitle {
        max-width: 207px;
    }
}

@media screen and (max-width: 1143px) {
    .work__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        justify-items: center;
    }
}

@media screen and (max-width: 1136px) {
    .people-chefs {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 60px;
        justify-items: center;
    }

    .chef-card:nth-child(3) {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 990px) {
    .intro__title {
        font-size: 62px;
        line-height: 74px;
    }
}

@media screen and (max-width: 968px) {
    .dishe__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 904px) {
    .about__container {
        margin: 0 auto;
        max-width: 834px;
    }

    .slider__btn {
        top: calc(53% - 35px);
    }
}

@media screen and (max-width: 907px) {
    .slider__slide img{
        display: block;
        width: 100%;
        height: 420px;
        object-fit: cover;
    }
}

@media screen and (max-width: 828px) {
    .people-chefs {
        grid-template-columns: 1fr;
    }

    .chef-card:nth-child(3) {
        grid-column: 1/1;
    }
}

@media screen and (max-width: 822px) {
    .intro__title {
        font-size: 52px;
        line-height: 64px;
    }
}

@media screen and (max-width: 745px) {
    // About section
   
    .about {
        &__title {
            font-size: 25px;
            &::after {
                font-size: 90px;
            }
        }
    }

    .slider__slide {
        border-radius: 10px;
        & img {
            border-radius: 10px;
        }
    }
}

@media screen and (max-wdith: 700px) {
    .intro__title {
        font-size: 52px;
        line-height: 64px;
    }
}

@media screen and (max-width: 693px) {
    .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .brand {
        position: relative;
        z-index: 6;
    }
    
    .menu {
        display: none;
    }

    .burger-btn, .burger-menu {
        display: block;
    }

    .burger-btn {
        padding: 0;
        width: 45px;
        height: 35px;
        position: relative;
        z-index: 6;
        background: transparent;

        &__line {
            transition: 0.5s all !important;
            display: block;
            position: absolute;
            top: 16.5px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $green;
        }

        &::before, &:after {
            content: '';
            height: 1px;
            transition: 0.5s all !important;
            position: absolute;
            background-color: $green;
            width: 100%;
        }

        &:before {
            top: 1px;
            left: 0;
        }

        &:after {
            bottom: 0;
            left: 0;
        }

        &_active {
            .burger-btn__line {
                bottom: 0;
                transform: rotate(41deg);
            }

            &:after {
                top: 18px;
                transform: rotate(-43deg);
            }

            &:before {
                opacity: 0;
            }
        }

    }

    .burger-menu {
        &_active {
            top: 0 !important;
        }
        transition: 0.3s all;
        position: fixed;
        z-index: 5;
        height: 100%;
        width: 100%;
        left: 0;
        top: -100%;
        color: $green;
        background-color: $black;
        border-bottom: 2px solid $green;

        &__list {
            max-width: 45%;
            margin: 45% auto;
            text-align: center;

            & li {
                border: 1px solid #fff;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            & li + li {
              margin-top: 30px;  
            }
        }

        &__item_active {
            border: 1px solid $green !important;
        }

        &__link {
            font-size: 30px;

            &_active {
                color: $green;
            }
        }
    }


    .intro__subtitle {
        max-width: 497px;
    }
}

@media screen and (max-width: 684px) {
    .dishe__cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 677px) {
    .intro__btn-for-order {
        width: 209px;
        height: 67px;
    }
}

@media screen and (max-width: 652px) {
    .header { padding: 23px 0; }

    .hero {
        min-height: 900px;
        padding-bottom: 100px;
    }

    .intro {
        margin: 180px auto 0;
    
        &__texts {
            max-width: none;
        }

        &__title {
            font-size: 47px;
            line-height: 59px;
        }

        &__cards {
            margin: 50px auto;
            flex-direction: column;
        }
    }

    .benefits-card {
        & + & {
            margin-top: 30px;
        }

        &__logo {
            width: 35px;
            height: 35px;
        }

        &__title {
            font-size: 17px;
        }

        &__subtitle {
            font-size: 16px;
        }
    }

    /* About section start */
    
    .about {
        &__title {
            line-height: 32px;
            &::after {
                top: -55px;
            }
        }
    }

    /* About section end */ 

    .title {
        font-size: 30px;
        &::before {
            font-size: 94px;
        }
    }
}

@media screen and (max-width: 634px) {
    /* About section start */

    .about__container {
        padding: 85px 20px 75px;
    }

    /* About section end */
}

@media screen and (max-width: 628px) {
    /* About section start */
    
    .about__title {
        margin-bottom: 30px;
    }

    /* About section end */
}

@media screen and (max-width: 594px) {
    .intro__title {
        font-size: 45px;
        line-height: 57px;
    }
}

@media screen and (max-width: 581px) {
    .work__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .intro {
        margin: 135px auto 0;

        &__texts {
            text-align: left;
        }
        &__subtitle {
            margin-left: 0;
        }

        &__btn-for-order {
            width: 200px;
            height: 65px;
        }
    }
}

@media screen and (max-width: 555px) {
    .intro__btn-for-order {
        width: 200px;
        height: 69px;
    }
}

@media screen and (max-width: 500px) {
    /* About section start */

    .about__subtitle {
        font-size: 15px;
    }

    /* About section end */
}

@media screen and (max-width: 482px) {
    .brand__logo-img {
        & .brand__text {
            font-size: 15px;
        }
    }
    
    .burger-menu__link {
        font-size: 27px;
    }
}

@media screen and (max-width: 458px) {
    .title {
        font-size: 26px;
        &::before {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 447px) {
    .intro {
        &__title {
            font-size: 40px;
            line-height: 52px;
        }

        &__subtitle {
            margin-bottom: 36px;
            font-size: 14px;
        }

        &__btn-for-order {
            width: 150px;
            height: 58px;
        }
    }

    .benefits-card {
        &__title {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 410px) {
    /* About section start */

    .about {
        &__title {
            font-size: 22px;
            &::after {
                font-size: 80px;
            }
        }
    }

    /* About section end */
}

@media screen and (max-width: 400px) {
    .brand {
        align-items: center;
        max-width: 151px;
    }

    .burger-menu__list {
        margin: 40% auto;
        min-width: 50%;
    }

    .burger-menu__link {
        font-size: 25px;
    }
}

@media screen and (max-width: 384px) {
    .chefs__title {
        font-size: 21px;

        &::before {
            font-size: 76px;
        }
    }

    .chef-card__portfolio {
        grid-template-columns: 1fr;
        & img {
            justify-self: center;
        }
    }
}

@media screen and (max-width: 358px) {
    /* About section start */
    
    .about {
        &__title {
            &::after {
                font-size: 70px;
            }
        }

        &__container {
            padding: 90px 22px 75px;
        }
    }
    
    /* About section end */
}

@media screen and (max-width: 374px) {
    .intro__title {
        font-size: 36px;
        line-height: 48px;
    }
}

@media screen and (max-width: 356px) {
    .dish-card {
        &__container {
            flex-direction: column;
        }

        &__btn-for-order {
            width: 100%;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 344px) {
    .burger-menu__list {
        margin: 50% auto;
    }
    
    .intro {
        &__btn-for-order {
            width: 143px;
            height: 55px;
        }
    }
}

@media screen and (max-width: 330px) {
    .dishe__title {
        font-size: 23px;
        &::before {
            font-size: 74px;
        }
    }
}

/* height adaptive start */

@media screen and (max-height: 601px) {
    .burger-menu {
        top: -200%;

        &__list {
            margin: 25% auto;
        }
    }
}

@media screen and (max-height: 469px) {
    .burger-menu__list {
        margin: 15% auto;
        max-width: 35%;
    }    
}

/* height adaptive end */

/* Adaptive end */