/* show animations start */

@media (prefers-reduced-motion) {
    .animation {
        transition: none;
    }
}

@keyframes animate__fadeInUp  {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes animate__fadeInUp-end  {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes animate__fadeInUp-opacity-7 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 0.7;
        transform: translateY(0px);
    }
}

/* show animations end */