@import 'null.scss';
@import 'keyframes.scss';
@import 'vars.scss';

/* Content start */

.header {
    padding: 33px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
}

.header__container {
    @extend %cfg-flex-aline;
}

.brand {
    @extend %cfg-flex;
    align-items: flex-end;
    max-width: 209px;

    & .brand__text {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-left: 9px;
        color: $green;
        font-family: $fontBold, sans-serif;
        font-weight: 700;
    }
}

.menu__list {
    @extend %cfg-flex-aline;

    & .menu__item + .menu__item {
        margin-left: 45px;
    }

    & .menu__link {
        font-size: 14px;
        font-family: $fontBold, sans-serif;
        font-weight: bold;        

        &_active {
            color: $green;
        }

        &:hover {
            color: $green;
        }
    }
}

.burger-btn, .burger-menu {
    display: none;
}

.hero {
    padding-top: 0;
    background: url('../img/background/background-hero.jpg') no-repeat center top;
    background-size: cover;
    height: auto;
    min-height: 800px;
    display: flex;
    align-items: center;
}

.subtitle {
    margin: 0 auto 40px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 26px;
    max-width: 595px;
    opacity: 0.7;
    font-size: 16px;
}

.intro {
    margin: 160px auto 0;
    text-align: center;

    &__texts {
        margin: 0 auto;
        max-width: 1100px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 72px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        line-height: 84px;

        & span {
            display: inline-block;
            @include cfg-animate(animate__fadeInUp)
        }

        &-bold {
            font-family: $fontBold, sans-serif;
            font-weight: bold;
        }
    }

    &__word {
        &-one {
            animation-delay: 0.5s;
        }
        &-two {
            animation-delay: 0.8s;
        }
        &-three {
            animation-delay: 1s;
        }
        &-four {
            animation-delay: 1.3s;
        }
    }

    &__subtitle {
        max-width: 595px;
        animation-delay: 1.5s;

        transform: translateY(10px);
        @include cfg-animate(animate__fadeInUp-opacity-7)
    }

    &__btn-for-order {
        transform: translateY(10px);
        animation-delay: 2s;
        @include cfg-animate(animate__fadeInUp);
        @include Button(220px, 72px);
    }

    &__cards {
        max-width: 915px;
        margin: 70px auto;
        &.animate__show div {
            &:first-child {
                animation-delay: 0.1s;
                @include cfg-animate(animate__fadeInUp);
            }
            &:nth-child(2) {
                animation-delay: 0.4s;
                @include cfg-animate(animate__fadeInUp);
            }
            &:nth-child(3) {
                animation-delay: 0.7s;
                @include cfg-animate(animate__fadeInUp);
            }
        }
    }
}

.cards {
    @extend %cfg-flex-aline;
}

.benefits-card {
    transform: translateY(10px);
    opacity: 0;

    &__logo {
        margin-bottom: 13px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 400;
        font-family: $fontRoman, sans-serif;
    }

    &__subtitle {
        font-size: 14px;
        opacity: 0.5;
    }
}

.about {
    margin-top: 161px;
    background-color: $darkGray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    text-align: center;

    &__container {
        margin: 0 auto;
        padding: 105px 65px 90px;
    }

    &__title {
        // For animate styles
        opacity: 0;
        transform: translateY(10px);

        margin-bottom: 61px;
        font-family: $fontRoman, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        letter-spacing: 0.2em;
        line-height: 60px;
        position: relative;
        z-index: 1;
        & span {
            position: relative;
            z-index: 1;
            // For animate styles
            opacity: 0;
            transform: translateY(10px);
        }

        &::after {
            content: attr(background-text);
            display: block;
            font-family: $fontBlack, sans-serif;
            font-size: 100px;
            line-height: 150px;
            letter-spacing: 0.2em;
            color: #303030;
            position: absolute;
            left:50%;
            top: -40px;
            transform: translateX(-50%);
            z-index: 0;
        }

        // Animation

        &.animate__show {
            & span {
                animation-delay: 0.4s;
                @include cfg-animate(animate__fadeInUp)
            }

            animation-delay: 0.1s;
            @include cfg-animate(animate__fadeInUp)
        }
    }

    &__subtitle {
        max-width: 734px;
    }
}

.slider-wrapper {
    position: relative;
}

.slider {
    max-width: 734px;

    &__btn {
        background: transparent;
        cursor: pointer;
        border: 2px solid #303030;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        top: calc(50% - 35px);
        z-index: 1;
    }

    &__button-prev {
        right: auto;
        left: 0;
    }

    &__button-next {
        right: 0;
        left: auto
    }

    &__pagination {
        display: none;
        bottom: -40px !important;
    }
}

.title {
    text-align: center;
    padding-bottom: 27px;
    margin-bottom: 60px;

    font-family: $fontRoman, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-size: 36px;
    line-height: 90px;
    text-transform: capitalize;
    position: relative;
    color: #D9D9D9;

    & span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: attr(background-text);
        z-index: 0;
        position: absolute;
        top: -25%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $fontBlack, sans-serif;
        color: #303030;
        font-size: 100px;
        line-height: 150px;
        letter-spacing: 0.2em;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 2px;
        background-color: $green;
    }

    // Animation styles
    opacity: 0;

    &.animate__show {

        & span {
            animation-delay: 0.3s;
            @include cfg-animate(animate__fadeInUp)      
        }   

        animation-delay: 0.1s;
        @include cfg-animate(animate__fadeInUp)            
    }
}

.work__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.work-steps-card {
    padding: 24px 24px 60px;
    background-color: $darkGray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    max-width: 255px;
    max-height: 206px;

    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.275px;
        text-transform: capitalize;
        color: #fff;
        padding-bottom: 20px;
        margin-bottom: 24px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 56px;
            background-color: $green;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1625px;
        color: rgba(255, 255, 255, 0.5);
    }

    &_selected {
        background-color: $green;
        & .work-steps-card__title, .work-steps-card__subtitle {
            color: #191919;
            &::before {
                background-color: #191919;
            }
        }
    }

    // Animation styles
    opacity: 0;

    &.animate__show {
        animation-delay: 0.8s;
        @include cfg-animate(animate__fadeInUp);
    }
}

.dishe__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.share {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-left: 24px;
    margin-right: 24px;
    right: 0;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        position: relative;
        z-index: 1;
    }

    &__bg {
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-color: #000;
    }
}

.dish-card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: $darkGray;
    max-width: 350px;
    position: relative;

    &__preview {
        width: 100%;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    &__content {
        padding: 30px 30px 24px;
    }

    &__title {
        font-weight: 400;
        font-size: 27px;
        line-height: 30px;
        color: #D9D9D9;
    }

    &__title-text {
        margin-top: 9px;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.15px;
        color: #A4A8B2;
    }

    &__subtitle {
        margin-top: 20px;
        font-size: 13px;
        letter-spacing: -0.1625px;
    }

    &__container {
        @extend %cfg-flex-aline;
    }

    &__btn-for-order {
        font-size: 10px;
        &_disabled {
            background: transparent;
            color: rgba(255, 255, 255, 0.5);
            border: 2px solid #303030;

            &:hover {
                color: $darkGray;
                background: $green;
                border: 0;
            }

        }

        @include Button(100px, 40px);
    }

    // Animation styles
    opacity: 0;

    &.animate__show {
        @include cfg-animate(animate__fadeInUp);
    }
}

.rating {
    max-width: 151px;
    @extend %cfg-flex-aline; 

    &__star {
        cursor: pointer;
    }

    &__star + &__star {
        margin-left: 5px;
    }

    &__star ion-icon {
        width: 17px;
        height: 17px;
        color: #F9AD3D;
    }

    &__count {
        margin-left: 9px;
        & span {
            font-family: $fontBlack, sans-serif;
            font-size: 12px;
            line-height: 30px;
            letter-spacing: 1.5px;
            color: #B3B3B3;
        }
    }

    &_disabled ion-icon  {
        color: #4D4D4D;
    }
}

.people-chefs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.chef-card {
    &__header {
        max-width: 205px;
        margin-bottom: 24px;
        @extend %cfg-flex-aline;
    }

    &__avatar {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin-right: 24px;
    }

    &__fullname {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.225px;
        color: #FFFFFF;
    }

    &__subtitle {
        font-size: 12px;
        margin: 0;
    }

    &__portfolio {
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        & img {
            border-radius: 4px;
        } 
    }

    // Animation styles
    opacity: 0;

    &.animate__show {
        @include cfg-animate(animate__fadeInUp);
    }
}

.recipes {
    color: #FFFFFF;
}

.recipes__container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "card-big card-one"
        "card-big card-two"
        "card-big card-three";
}

.tag {
    font-family: $fontBlack, sans-serif;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin: 0 auto;
    max-width: 110px;

    & span {
        padding: 9px 16px;
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        background: #000000;
        mix-blend-mode: normal;
        opacity: 0.3;
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-radius: 4px;
    }
}

.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.rating {
    max-width: 137px;
    font-size: 12px;
    line-height: 30px;
    font-family: $fontBold, sans-serif;
    font-weight: 700;

    & > div {
        @extend %cfg-flex-aline;

        & img {
            margin-right: 12px;
        }
    }

    &__comments {
        margin-left: 24px;
    }

    &__views-count_darkmode, &__comments-count_darkmode {
        color: $darkGray;
    }
}

.recipes-card-big {
    grid-area: card-big;
    position: relative;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url('../img/background/recipes-card-big-bg.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 6px;
    text-align: center;
    padding: 60px 65px;
    &__tag {
        margin-bottom: 65px;
    }

    &__title {
        margin: 25px 0 45px;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
    }

    &__author {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
    }

    &__rating {
        margin: 62px auto 0;
    }
}

.recipes-card {
    grid-area: card-one;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: $darkGray;

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }

    &__container {
        @extend %cfg-flex-aline;
        margin-top: 10px;
    }

    &__contain {
        @extend %cfg-flex-aline;
    }

    &__tag {
        margin-right: 20.32px;
    }

    &_two {
        grid-area: card-two;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background/recipes-card-bg.jpg') no-repeat center center;
        background-size: cover;
    }

    &_three {
        grid-area: card-three;
    }

    &_darkmode {
        background-color: $green;
        
        .recipes-card {
            &__title, &__date {
                color: $darkGray;
            }

            
            &__tag::before {
                opacity: 1;
            }
        }
    }
}

.social__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.social-card {
    background-color: $darkGray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    &__header {
        border-bottom: solid 2px #303030;

        &-container {
            padding: 25px;
            @extend %cfg-flex-aline;
        }
    }

    &__social {
        &-icon {
            border-radius: 50%;
            border: 2px solid #303030;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

        &-name {
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
        }
        @extend %cfg-flex-aline;
    }

    &__btn-for-follow {
        background: $darkGray;
        border: 2px solid #303030;
        border-radius: 30px;
        width: 100px;
        height: 40px;

        font-family: $fontBlack, sans-serif;
        font-size: 10px;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #737373;
    }

    &__content {
        padding: 20px 30px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: $darkGray;
        }

        &::-webkit-scrollbar-track {
            width: 4px;
            background-color: #303030;
        }

        &-texts {
            margin: 10px 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__date {
        color: #737373;
    }

    &__hashtag {
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: $green;
    }

    &__content-imags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;

        & img {
            width: 100%;
            height: 100%;
        }

        &::before {
            content: "";
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: url('../img/icons/arrow-left-gray.svg') no-repeat center center, $green;
            position: absolute;
            left: 50%;
            top: 49px;
            transform: translate(-50%, -50%);
        }
    }

    // Animate styels
    opacity: 0;

    &.animate__show {
        @include cfg-animate(animate__fadeInUp);
    }
}

.footer {
    text-align: center;
    margin-top: 120px;
    padding: 32px 0 30px;
    background-color: $darkGray;

    &__header {
        border-bottom: 2px solid #303030; 
        padding-bottom: 30px;
    }

    & .brand {
        margin: 38px auto 5px;
    }

    &__copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 60px;
        color: #737373;
    }
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & > div {
        opacity: 1;
        transform: none;
    }
}

/* Content end */

@import 'adaptive.scss';