@import 'vars.scss';
@import 'fonts.scss';

/* null start */

*, *::before, *::after {
    font-family: $fontRoman, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: $black;
    font-size: 16px;
    color: #fff;

    &.lock {
        overflow-y: hidden;
    }
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.none {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
}

li, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

input {
    outline: none;
}

button { 
    cursor: pointer;
    border: 0;
}

/* null end */